{% extends "kiwoom/index.html" %}

{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'kiwoom/chart.css' %}" />
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <td>Name</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{ quantity }}</td>
        </tr>
        <tr>
            <td>Current Price</td>
            <td>{{ current_price }}</td>
        </tr>
        <tr>
            <td>Current Total Price</td>
            <td>{{ total_price }}</td>
        </tr>
    </table>
    <div class="chart">
        <div class="close-price"></div>
        <div class="volume"></div>
    </div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script>
// chart
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.timeParse("%Y%m%d");

var x = d3.scaleTime()
    .range([0, width]);

var y_close = d3.scaleLinear()
    .range([height, 0]);

var y_volume = d3.scaleLinear()
    .range([height, 0]);

var xAxis = d3.axisBottom(x);
var yAxis_close = d3.axisLeft(y_close);
var yAxis_volume = d3.axisLeft(y_volume);

var line_close = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y_close(d.close); });

var line_volume = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y_volume(d.tr_volume); });

var close_price = d3.select(".close-price").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var volume = d3.select(".volume").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var data = d3.dsvFormat(",").parse("{{daily_stock_data}}", function(d, i) {
  return {
    date: parseDate(d.date),
    tr_volume: +d.tr_volume,
    close: +d.close
  };
});

x.domain(d3.extent(data, function(d) { return d.date; }));
y_close.domain(d3.extent(data, function(d) { return d.close; }));
y_volume.domain(d3.extent(data, function(d) { return d.tr_volume; }));

close_price.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);

close_price.append("g")
  .attr("class", "y axis")
  .call(yAxis_close)
.append("text")
  .attr("y", 6)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .attr("transform", "translate(100, 0)")
  .text("Close Price (KRW)");

close_price.append("path")
  .datum(data)
  .attr("class", "line")
  .attr("d", line_close);

volume.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);

volume.append("g")
  .attr("class", "y axis")
  .call(yAxis_volume)
.append("text")
  .attr("y", 6)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .attr("transform", "translate(100, 0)")
  .text("Volume (KRW)");

volume.append("path")
  .datum(data)
  .attr("class", "line green-line")
  .attr("d", line_volume);
</script>
{% endblock %}
