{% extends "kiwoom/index.html" %}
{% load kiwoom_extras %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <td>Code</td>
        <td>Name</td>
        <td>Details</td>
    </tr>
    </thead>
    <tbody>
    {% for code in stock_code_list %}
    <tr>
        <td>{{code}}</td>
        <td>{{code|get_master_code_name}}</td>
        <td><a href="{% url 'kiwoom:details' code %}">Details</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
